[user] 
  name = Daniel Amireh 
  email = daniel@amireh.org 
 
[color] 
  ui = auto 
 
[format] 
  pretty = %Cblue%h%Creset %Cgreen[%ar]%Creset (%an) %s 
 
[core] 
  excludesfile = /Users/daniel/.gitignore_global 
 
[push] 
  default = current 
[help]
	autocorrect = 1
[pull]
	rebase = true
[rebase]
	autoStash = true
[fetch]
	prune = true
[init]
	defaultBranch = main
[url "https://github.com"]
	insteadOf = git://github.com
[merge "merge-structure-sql"]
	name = Rails structure.sql merge driver
	driver = git-merge-structure-sql %A %O %B
[gc]
	auto = 256
[http]
	postBuffer = 1048576000
