[user] 
  name = Daniel Amireh 
  email = daniel@amireh.org 
 
[color] 
  ui = auto 
 
[format] 
  pretty = %Cblue%h%Creset %Cgreen[%ar]%Creset (%an) %s 
 
[core] 
  excludesfile = /Users/daniel/.gitignore_global 
 
[push] 
  default = current 
[help]
	autocorrect = 1
[pull]
	rebase = true
[rebase]
	autoStash = true
[fetch]
	prune = true
