alias todo="$EDITOR ~/.todo"

alias mkdir="mkdir -p"
alias rm="rm -i"

alias tml="tmux list-sessions"
alias tma="tmux -2 attach -t $1"
alias tmk="tmux kill-session -t $1"

alias g="git"
alias gs="git status"
alias gma="git commit -am"
alias gc="git checkout"
alias gcb="git checkout -b"
alias gl="git log --oneline"

alias b="bundle install"
alias bx="bundle exec"
